In [1]:
import pandas as pd

In [6]:
df1 = pd.DataFrame([1,2,3,4,5])
df2 = pd.DataFrame([1,2,3,4,5])
df3 = pd.DataFrame([1,2,3,4,5])

In [7]:
df4 = pd.DataFrame([df1,df2,df3])

In [8]:
df4

                               0
0     0
0  1
1  2
2  3
3  4
4  5
1     0
0  1
1  2
2  3
3  4
4  5
2     0
0  1
1  2
2  3
3  4
4  5